html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.upload {
    top: -100px;
    width: 100px;
    position: relative;
    display: flex;
}

    .upload img {
        border-radius: 50%;
        border: 6px solid #eaeaea;
    }

    .upload .round {
        position: absolute;
        bottom: 15px;
        right: -80px;
        background: #00B4FF;
        width: 32px;
        height: 32px;
        line-height: 33px;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
    }

        .upload .round input[type='file'] {
            position: absolute;
            transform: scale(2);
            opacity: 0;
        }

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}

.background {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.control-label {
    font-weight: bold;
}

.edit-profile {
    margin-top: 15px;
    display: flex
}

    .edit-profile .col-md-4 {
        padding: 10px;
        border-radius: 15px;
        background: #FFFFFF;
    }

.avatar {
    height: 520px;
    background: #FFFFFF;
    border-radius: 15px;
}
.container{
    width: 100%;
    padding: 0px !important;
}

.name {
    margin-top: 120px;
    font-size: 40px;
}

.button-submit-edit-proflie {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.button-submit-green {
    background: #389E0D;
    color: white;
    border: 0px;
}

.button-submit-red {
    background: #FF4D4F;
    color: white;
    border: 0px;
}

.button-submit-blue {
    background: #0F56C6;
    color: white;
    border: 0px;
}