html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.upload {
    align-items: center;
    top: -100px;
    width: 100px;
    position: relative;
    display: flex;
}

    .upload img {
        border-radius: 50%;
        border: 6px solid #eaeaea;
    }

.wrap_avatar .round {
    position: absolute;
    bottom: 25px;
    right: 10px;
    background: #00B4FF;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.upload .round input[type='file'] {
    position: absolute;
    transform: scale(2);
    opacity: 0;
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}

.background {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.upload-background {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.wrap_avatar {
    position: relative;
}

.control-label {
    font-weight: bold;
}

.edit-profile {
    margin-top: 15px;
    display: flex
}

    .edit-profile .col-md-3 {
        padding: 10px;
        border-radius: 15px;
        background: #FFFFFF;
    }

    .edit-profile .col-md-9 {
        width: calc(75% - 15px);
        margin-left: 15px;
    }

.avatar {
    height: 520px;
    background: #FFFFFF;
    border-radius: 15px;
}

.container {
    width: 100%;
    padding: 0px !important;
}

.name {
    margin-top: 120px;
    font-size: 40px;
}

.button-submit-edit-proflie {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.button-submit-green {
    background: #389E0D;
    color: white;
    border: 0px;
}

.button-submit-red {
    background: #FF4D4F;
    color: white;
    border: 0px;
}

.button-submit-blue {
    background: #0F56C6;
    color: white;
    border: 0px;
}

.edit-profile-modal {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 200px;
}

.title-model {
    font-size: 30px;
    margin-bottom: 15px;
}

.btn-warning {
    justify-content: flex-end;
    margin-top: 100px;
    position: relative;
    font-size: 15px;
    width: 120px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background-color: #ffc100;
    border: 0;
    overflow: hidden;
}

    .btn-warning input[type="file"] {
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        transform: scale(3);
        opacity: 0;
    }

.btn-secondary {
    background-color: transparent;
    border-color: transparent;
    color: black;
}

    

#createPost:hover {
    border-color: #3498db; /* Màu sắc border khi hover */
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5); /* Đổ bóng khi hover */
}

    #createPost:hover::placeholder {
        color: #3498db; /* Màu sắc placeholder khi hover */
    }

#createPost:hover {
    cursor: pointer; /* Đổi con trỏ khi hover */
}

#createPost {
    border-radius: 30px;
    background-color: #f0f2f5
}

.create-post {
    padding: 10px;
    border-radius: 15px;
    background: #FFFFFF;
    display: flex;
}

.hero {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

#drop-area {
    width: 500px;
    height: 300px;
    padding: 1px;
    background: #b4b6bb;
    text-align: center;
    border-radius: 20px;
}

#img-view {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff;
    background-position: center;
    background-size: cover;
}

    #img-view img {
        width: 100hv;
        margin-top: 25px;
    }

    #img-view span {
        display: block;
        font-size: 12px;
        color: #777;
        margin-top: 15px;
    }

.list-post {
    padding: 10px;
    border-radius: 15px;
    background: #FFFFFF;
    margin-top: 15px;
}

.img-list-post {
    margin-top: 15px;
    background: #bcc0c5;
    display: flex;
    justify-content: center;
}

.static-like-comment {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.like-comment {
    display: flex;
    justify-content: center;
}

.btn-like-cmt {
    width: 50%;
    align-content: center;
    background-color: transparent;
    border-color: transparent;
}

    .btn-like-cmt:hover {
        color: black; 
        background-color: #bcc0c5;
    }

.btn-like {
    width: 50%;
    align-content: center;
    background-color: transparent;
    border-color: transparent;
    color: black;
}

    .btn-like.liked {
        width: 50%;
        align-content: center;
        background-color: transparent;
        border-color: transparent;
        color: #1d5fe5;
    }

    .btn-like:hover {
        color: black;
        background-color: #bcc0c5;
    }

.like-icon {
    /* Thêm kiểu CSS cho biểu tượng like mặc định */
    content: url("/Img/Like-icon.png");
    margin-bottom: 5px;
}

    .like-icon.liked {
        /* Thêm kiểu CSS cho biểu tượng like khi đã được like */
        content: url("/Img/Liked-icon.png");
        margin-bottom: 5px;
    }