@model SHOU.Models.EditModel.UserSignUpEditModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
</head>
<body>
    <form asp-controller="Users" asp-action="SignUp" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RePassword" class="control-label"></label>
            <input asp-for="RePassword" class="form-control" />
            <span asp-validation-for="RePassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit">Đăng ký</button>
        </div>
        @if (ViewData["SignUpResult"] != null)
        {
            <br />
            if (ViewData["SignUpResult"] == "Đăng ký thành công!")
            {
                <label style="color:green">@ViewData["SignUpResult"]</label>
            }
            else
            {
                <label style ="color:red">@ViewData["SignUpResult"]</label>
            }
        }
    </form>
    <div class="form-group">
        <a asp-action="Login">Đăng nhập</a>
    </div>
</body>
</html>
