@model SHOU.Models.EditModel.PostEditModel.NewPost

@{
    ViewData["Title"] = "Thêm bài viết";
}

<h1>Thêm bài viết</h1>

<hr />

@using (Html.BeginForm("Create", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form asp-action="Create">

        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Image" class="control-label"></label>
            <input asp-for="Image" class="form-control" type="file" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        @* multiple *@
        @*  name="Image" id="Image" onclick="UploadImage()" *@
       
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
}

<div>
    <a asp-action="Index">Trang chủ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@* <script>
    function UploadImage{
        var formData= new FormData
    }
</script> *@
